<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoQA_Form_Suite">
    <test name="Practice Form Test">
        <classes>
            <class name="com.dezlearn.qa.DemoQA_FormAutomation_Project.PracticeFormTest"/>
        </classes>
    </test>
</suite>
